.acct-dev{
    background-color: var(--bg-light);
    margin-top: 10rem;
}

.acct-dev2{
    width: 90%;
    margin: 0 auto;

}

.acct-dev nav div{
        font-size: 2.5em;
        /* margin-top: 2rem; */
        color: var(--primary-color);

}

.acct-dev nav h4{
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    color: var(--font-color);
    margin-top: 10px;
}

.stats_info{
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
    color: var(--heading-color);
    /* margin-top: 30px; */
    margin-bottom: 0;
}