.acct-dev{
    background-color: var(--bg-light);

}

.acct-dev nav nav{
        font-size: 2.5em;
        /* margin-left: 2rem; */
        /* margin-top: 2rem; */
        color: var(--primary-color);

}