.top-div{
    transition: all 0.5s ease 0s;
    border-radius: var(--border-radius);
    background-color: var(--bg-light);
    /* position: relative; */
    /* margin-bottom: 20px; */
    border: 1px solid var(--bg-light);
    display: block;
}

h1.number {
    line-height: 60px;
    right: 40px;
    top: 30px;
    opacity: .07;
    transition: 0.3s ease-in-out;
}

.T-icon{
  color: var(--primary-color);
    font-size: 30px;
}


/* Default styling for larger screens */
.top-div {
    display: block;
}