.resume-banner{
    background-color: var(--bg-light);
}

.about-img{
    /* height: 500px !important; */
}

.about-img-banner {
    /* border: 2px solid black; */
}

@media (max-width:768px) {
.about-banner{
    display: block;
}
.about-img-banner{
    margin-bottom: 8rem;
}

}